/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

.ip .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
}

.ip .hljs-comment,
.ip .hljs-quote {
  color: #998;
  font-style: italic;
}

.ip .hljs-keyword,
.ip .hljs-selector-tag,
.ip .hljs-subst {
  color: #333;
  font-weight: bold;
}

.ip .hljs-number,
.ip .hljs-literal,
.ip .hljs-variable,
.ip .hljs-template-variable,
.ip .hljs-tag .ip .hljs-attr {
  color: #008080;
}

.ip .hljs-string,
.ip .hljs-doctag {
  color: #d14;
}

.ip .hljs-title,
.ip .hljs-section,
.ip .hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.ip .hljs-subst {
  font-weight: normal;
}

.ip .hljs-type,
.ip .hljs-class .ip .hljs-title {
  color: #458;
  font-weight: bold;
}

.ip .hljs-tag,
.ip .hljs-name,
.ip .hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.ip .hljs-regexp,
.ip .hljs-link {
  color: #009926;
}

.ip .hljs-symbol,
.ip .hljs-bullet {
  color: #990073;
}

.ip .hljs-built_in,
.ip .hljs-builtin-name {
  color: #0086b3;
}

.ip .hljs-meta {
  color: #999;
  font-weight: bold;
}

.ip .hljs-deletion {
  background: #fdd;
}

.ip .hljs-addition {
  background: #dfd;
}

.ip .hljs-emphasis {
  font-style: italic;
}

.ip .hljs-strong {
  font-weight: bold;
}
