/*

School Book style from goldblog.com.ua (c) Zaripov Yura <yur4ik7@ukr.net>

*/

.ip .hljs {
  display: block;
  overflow-x: auto;
  padding: 15px 0.5em 0.5em 30px;
  font-size: 11px;
  line-height:16px;
}

.ip pre{
  background:#f6f6ae url(./school-book.png);
  border-top: solid 2px #d2e8b9;
  border-bottom: solid 1px #d2e8b9;
}

.ip .hljs-keyword,
.ip .hljs-selector-tag,
.ip .hljs-literal {
  color:#005599;
  font-weight:bold;
}

.ip .hljs,
.ip .hljs-subst {
  color: #3e5915;
}

.ip .hljs-string,
.ip .hljs-title,
.ip .hljs-section,
.ip .hljs-type,
.ip .hljs-symbol,
.ip .hljs-bullet,
.ip .hljs-attribute,
.ip .hljs-built_in,
.ip .hljs-builtin-name,
.ip .hljs-addition,
.ip .hljs-variable,
.ip .hljs-template-tag,
.ip .hljs-template-variable,
.ip .hljs-link {
  color: #2c009f;
}

.ip .hljs-comment,
.ip .hljs-quote,
.ip .hljs-deletion,
.ip .hljs-meta {
  color: #e60415;
}

.ip .hljs-keyword,
.ip .hljs-selector-tag,
.ip .hljs-literal,
.ip .hljs-doctag,
.ip .hljs-title,
.ip .hljs-section,
.ip .hljs-type,
.ip .hljs-name,
.ip .hljs-selector-id,
.ip .hljs-strong {
  font-weight: bold;
}

.ip .hljs-emphasis {
  font-style: italic;
}
